a{
	text-decoration: none;
}

body{
	height: 100%;
}

ul{
	padding-left: 0px;
}

div.content section.section1 {
	text-align:center;
	margin-bottom: 70px;
}
div.content section.section2{
	text-align: center;
}
div.content section.section2 article {
	display: inline;
	padding: 3px;
}
section.section1 form,section.section1 table{
	width: 60%;
	margin: auto;
}
/*----------------------------로그인부분(더있을수도...)--------------------------  */
div.content section.section_pop {
	text-align:center;
	margin-bottom: 70px;
	margin-top: 130px;
}
section.section_pop form,section.section1 table{
	width: 50%;
	margin: auto;
}

input.inputbox {
	width: 95%;
	padding: 15px 10px 15px 10px;
	/* border-radius:4px;  모서리 둥글게*/
	border: 1px solid #ccc;
}
form.login li {
	margin-bottom: 15px;
	list-style: none;
	/* 옆에 나오는 동그라미 없애려면 list-style: none; */
}
/* label에 마진주면 안먹음 한줄 그대로 다 줘야 함  */

section.section1 form.login li:last-child {
	margin-top: 30px;
}
button.redbutton {
	width: 100%;
	padding: 20px 0px 20px 0px;
	background-color: #f05228;
	border: none;
	font-size: 15pt;
	color: white;
	/* margin-right: 5px; */
}
button.graybutton {
	width: 100%;
	padding: 20px 0px 20px 0px;
	background-color: #EFF1F2;
	border: 1px solid #c6c5c5;
	font-size: 15pt;
	color: #818182;
}
img.logo{
	margin: auto;
	width: 60%
}
img.check{
	display: inline-block;
	line-height: 10px;
}


span.font_black{
	font-size: 11pt;
	color: black;
}
span.font_gray{
	text-align: right;
	font-size: 11pt;
	color: #818182;
	padding: 0px 10px 0px 10px;
}
span.font_gray_bar{
	text-align: right;
	font-size: 11pt;
	color: #818182;
	padding: 0px 25px 0px 10px;
	border-right: 1px solid #c6c5c5;
}
 section.section_pop table.login_check_table{
 	width: 100%;
 	margin: auto;
 }

/*-------------------------------------------------------------------------------  */
/* section.section1 form.login li span {
	width: 100px;
	display:inline-block;;
	padding: 5px 0px 5px 0px;
	margin-right: 5px;
	background-color: lightpink;
	font-size: 10pt;
}
 */
 div.div_pop{
 	width: 45%;
 	margin: auto;
 }
 
 button.graybutton_l {
	width: 120px;
	height: 45px;
	background-color: #EFF1F2;
	border: 1px solid #c6c5c5;
	font-size: 10pt;
	color: #818182;
}
input.inputbox_s {
	width: 280px;
	height: 15px;
	padding: 15px 10px 15px 10px;
	/* border-radius:4px;  모서리 둥글게*/
	border: 1px solid #ccc;
}

li.login_s_li{
 	margin-top: 45px;
 }
 
 li.login_s_li2{
 	margin-top: 20px;
 }
 
.big{
 	font-size: 33pt;
 	font-weight: lighter;
 }
span.small{
 	font-size: 13pt;
 	font-weight: bold;
 }
 button.redbutton_s {
	width: 80%;
	margin-top:40px;
	padding: 20px 0px 20px 0px;
	background-color: #f05228;
	border: none;
	font-size: 15pt;
	color: white;
	/* margin-right: 5px; */
}

/*-------------------------------------------------------------------------------  */

div.content_top{
	margin : 0px 0px 40px 0px;
	text-align: center;
}

 img.img_center{
	width: 150px;
} 

h1.h1_center{
	font-size: 15pt;
}

section.section1 table.board_list{
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
	/* 이거 뭐 표에 테두리 두줄인거 합치는거 */
	width: 55%;
	margin: auto;
	text-align: center;
	
}

section.section1 form.board_list{
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
	/* 이거 뭐 표에 테두리 두줄인거 합치는거 */
	width: 55%;
	margin: auto;
	text-align: center;
	
}

form.board_list li.first{
	border-top : 2px solid #818182;
	border-bottom : 2px solid #818182;
	height: 35px;
}

table.board_list tr{
	border-top : 1px solid #c6c5c5;
	border-bottom : 1px solid #c6c5c5;
	height: 35px;
}

table.board_list tr.first{
	border-top : 2px solid #818182;
	border-bottom : 2px solid #818182;
	height: 35px;
}

table.board_list td{
	border-left: none;
	border-right: none;
	padding: 0px 10px 0px 10px;
	color: #323232;
	
}
table.board_list th{
	border-left: none;
	border-right: none;
}

td.td_notice_1{
	width: 50px;
}
td.td_notice_2{
	text-align: left;
}
td.td_notice_3{
	width: 120px;
}
/*---------------------------------------------------------------------------------*/
table.board_list tr.last{
	border-bottom: none;
}

table.board_list td.content{
	padding : 20px 20px 50px 20px;
	text-align: left;
}
table.board_list td.board_btn{
	text-align: right;
}

button.graybutton_s {
	width: 60px;
	height: 30px;
	margin-top: 10px;
	background-color: #EFF1F2;
	border: 1px solid #c6c5c5;
	font-size: 10pt;
	color: #818182;
}
button.graybutton_m {
	width: 100px;
	height: 30px;
	margin-top: 10px;
	background-color: #EFF1F2;
	border: 1px solid #c6c5c5;
	font-size: 10pt;
	color: #818182;
}
div.qna_btn1{
	float: right;
	width: 20%;
	margin-right: 19%;
}

div.qna_btn2{
	display: inline;
}

/*---------------------------------------------------------------------------------*/

input.input_write{
	width: 652px;
	margin-bottom: 10px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 2px solid #c6c5c5;
}

textarea.text_write {
	width: 650px;
	border: 1px solid #c6c5c5;
	resize :none;
}

form.board_write li{
	list-style: none;
}

img.img-profile{
	border-radius: 50%;
	width: 160px;
	height: 160px;
}

 
 button.whitebutton {
	width: 116px;
	height: 45px;
	background-color: white;
	font-size: 10.5pt;
	color: #818182;
	font-weight: bold;
	border: none;
	text-align: left;
}

/* 페이징 부분 */

div.page {
   display: inline-block;
   text-align: center;
   margin-left: 38%;
}
/* ----------------------------- */
